# ===========================
# General Java / IDE
# ===========================
*.class
*.log
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.exe
*.dll
*.so
*.dylib
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.orig

# Eclipse
.settings/
*.launch
.metadata/
.recommenders/
**/.classpath
**/.project
**/.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# ===========================
# Maven
# ===========================
**/target/
!**/src/main/**/target/
!**/src/test/**/target/

.mvn/wrapper/maven-wrapper.jar

# ===========================
# Spring Boot
# ===========================
**/spring-boot-*.properties
**/spring-boot-*.yml
**/boot-inf/
**/META-INF/maven/

# ===========================
# Logs
# ===========================
*.log
logs/
*.out

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db
